In [1]:
import pandas as pd
from sklearn import  linear_model
import numpy as np
import matplotlib.pyplot as plt

In [6]:
train_data = pd.read_csv("kc_house_train_data.csv")

In [3]:
test_data = pd.read_csv("kc_house_test_data.csv")

In [4]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [27]:
input_feature = train_data['sqft_living']
output = train_data['price']

In [10]:
 s=input_feature*output.mean()

In [16]:
def simple_linear_regression(input_feature, output):
    numerator = (input_feature*output).mean() - input_feature.mean()*output.mean()
    
    denominator = (input_feature**2).mean() - input_feature.mean()*input_feature.mean()
    slope = numerator/denominator
    
    intercept = output.mean() - input_feature.mean()*slope
    return (intercept,slope)
print simple_linear_regression(input_feature, output)

(-47116.079072894878, 281.95883963034294)

In [31]:
def get_regression_predictions(input_feature, intercept, slope):

    predicted_output = intercept + slope* input_feature
    return(predicted_output)
predicted_output = get_regression_predictions(input_feature, -47116.08, 281.96)

In [73]:
print get_regression_predictions(2650, -47116.08, 281.96)

700077.92

In [121]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    
    RSS = ((output - predicted_output) ** 2).sum()
    return(RSS)

In [122]:
print get_residual_sum_of_squares(input_feature, output, -47116.07, 281.96)

1.2019183543e+15

In [52]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output -intercept)/slope
    return(estimated_input)

In [53]:
print inverse_regression_predictions(800000, -47116.07, 281.96)

3004.38384877

In [123]:
input_feature_2= train_data['bedrooms']
output = train_data['price']

In [124]:
print simple_linear_regression(input_feature_2, output)

(109473.17762295791, 127588.95293398833)

In [126]:
input_feature_test_sqft_living = test_data['sqft_living']

input_feature_test_bedroom = test_data['bedrooms']
output_test = test_data['price']

In [ ]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    
    RSS = ((output - predicted_output) ** 2).sum()
    return(RSS)

In [144]:
predicted_output = get_regression_predictions(input_feature_test_sqft_living, -47116.07, 281.96)

In [147]:
predicted_output = get_regression_predictions(input_feature_test_bedroom, 109473.17762295791, 127588.95293398833)

In [145]:
RSS_sqft_living_test_data = get_residual_sum_of_squares(input_feature_test_sqft_living, output_test, -47116.07, 281.96)

In [148]:
RSS_bedroom_test_data = get_residual_sum_of_squares(input_feature_test_bedroom, output_test, 109473.17762295791, 127588.95293398833)

In [146]:
RSS_sqft_living_test_data

275402910754371.97

In [149]:
RSS_bedroom_test_data

493364585960301.6